---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About"
  description="ta1m1kamのプロフィールページ"
  pubDate={new Date()}
  heroImage="/tiger.png"
>
  <h1>Hi! I'm ta1m1kam.</h1>

  <h1>ta1m1kam</h1>
  <h2>Certificates</h2>
  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="875a383e-d595-4011-8245-cdabd1ef1d6f"
    data-share-badge-host="https://www.credly.com"
  >
  </div><script
    type="text/javascript"
    async
    src="//cdn.credly.com/assets/utilities/embed.js"></script>

  <div
    data-iframe-width="150"
    data-iframe-height="270"
    data-share-badge-id="52b5d5ac-6611-45cd-860a-20109212189e"
    data-share-badge-host="https://www.credly.com"
  >
  </div><script
    type="text/javascript"
    async
    src="//cdn.credly.com/assets/utilities/embed.js"></script>

  <ul>
    <li>基本情報技術者 2014.03</li>
  </ul>

  <h2>Career</h2>
  <h3><a href="https://www.shippio.io/">Shippio</a></h3>
  <ul>
    <li>2022.09 -</li>
    <li>Frontend Engineer</li>
    <li>
      TypeScript, JavaScript, React.js, Ruby, Ruby on Rails, Golang, Graph QL,
      Firebase, AWS, LaunchDarkly
    </li>
  </ul>

  <h3><a href="https://about.yahoo.co.jp/">Yahoo</a></h3>
  <ul>
    <li>2020.04 - 2022.09</li>
    <li>Software Engineer at PayPay Card/Paylater</li>
    <li>
      TypeScript, JavaScript, Nuxt.js, Vue.js, Java, SprintBoot, AWS,
      Python(Lambda), PCIDSS
    </li>
  </ul>

  <h2>Internship</h2>
  <h3>CrowdWorks</h3>
  <ul>
    <li>2017.12 - 2019.04</li>
    <li>Software Engineer at Crowdtech</li>
    <li>Ruby, Ruby on Rails, React.js</li>
  </ul>

  <h3>Cookpad</h3>
  <ul>
    <li>2018.08 - 2018.09</li>
    <li>Summer Internship</li>
  </ul>

  <h3>DMM.com</h3>
  <ul>
    <li>2018.08 - 2018.09</li>
    <li>Backend Engineer at menus</li>
    <li>Ruby, Ruby on Rails</li>
  </ul>

  <h3>BIZREACH</h3>
  <ul>
    <li>2017.05 - 2017.12</li>
    <li>Part-time job Engineer at スタンバイ</li>
    <li>Scala, Crawler</li>
  </ul>

  <h3>DreamArts</h3>
  <ul>
    <li>2017.08 - 2017.09</li>
    <li>Summer Internship</li>
    <li>TensorFlow, ChatBot</li>
  </ul>

  <h3>ITANDI</h3>
  <ul>
    <li>2017.07 - 2017.07</li>
    <li>Summer Internship</li>
    <li>Ruby, Ruby on Rails, JQuery</li>
  </ul>

  <h2>Award</h2>
  <h3>InternalHackDay18 最優秀賞・LINE賞 2021</h3>
  <ul>
    <li>
      【作品】 ZIGZAG
      ZホールディングスのサービスをジグザグつなぐTinder風ミニアプリを作成
    </li>
    <li>【使用技術】LINE LIFF/Message API, Nuxt.js, fastAPI</li>
  </ul>

  <h3>HackDay2021 Hack賞・Vald賞 2021</h3>
  <ul>
    <li>【作品】 mevie 自己紹介型 TickTok風 SNSのiOSアプリケーション作成</li>
    <li>【使用技術】Swift, python, Docker</li>
  </ul>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/lXl-brlEuRw?start=14397"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <h3>InternalHackDay17 ZOZO賞 2020</h3>
  <ul>
    <li>
      【作品】 No蜜鬼ごっこ 触れずにおにごっこができるiOSアプリケーションを作成
    </li>
    <li>【使用技術】Swift, PepleOcclusion, Firebase</li>
  </ul>

  <h3>Hack Day 2019 最優秀賞 2019</h3>
  <ul>
    <li>
      【作品】おそうじぶーぶー お掃除しながらお片付けができる
      IoTラジコンを作成。集めたゴミをスコア化し、LINE通知できる
    </li>
    <li>【使用技術】Python, OpenCV, 自作掃除機</li>
  </ul>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/Y4cBtZxdAkw"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <h3>Hack U Tokyo 最優秀賞 2019</h3>
  <ul>
    <li>
      【作品】ShowTime プレゼンテーションをより楽しくする
      ポーズ認識でプレゼンテーションできるサービスを作成
    </li>
    <li>【使用技術】Vue.js, OpenPose(Python)</li>
  </ul>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/Oft-5r43k7o?start=410"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <h3>JPHACKS ベストオーディエンスアワード 2018</h3>
  <ul>
    <li>
      【作品】 ばえるーポン
      インスタ映え度に応じてクーポンを発券するサービスを作成
    </li>
    <li>【使用技術】Swift, NIMA, YOLOv3, RubyOnRails</li>
  </ul>

  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/5-lMbg_ud0s"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>

  <h2>Presentation</h2>
  <ul>
    <li>
      <a href="https://speakerdeck.com/taigamikami/mixleap-hatukasonlt"
        >MixLeap_ハッカソンLT</a
      >
    </li>
    <li>
      <a
        href="https://speakerdeck.com/taigamikami/gao-zhuan-kiyaria-number-2-an-falsejin-bu"
        >高専キャリア #2 俺の進捗</a
      >
    </li>
  </ul>
</Layout>
